.code-container{
    height: 100%;
}

.preview-com{
    text-align: center;
    background-color: white;
    vertical-align: middle;
    text-align: center;
}

.preview-com iframe{
    display: inline-block;
    border:none;
}