<main>
  <section class="header">
    <toolbar
      (select) = "selectTemplate()"
      (usePc) = "showPcPreview()"
      (usePhone) = "showPhonePreview()"
    ></toolbar>
  </section>
  <section class="main">
        <section class="preview-container" [ngClass]="previewStyle">
          <preview [template]="html"></preview>
        </section>
        <section class="code-container">
          <edit [editValue]="html" (valueChanged)="valueChanged($event)"></edit>
        </section>
  </section>
  <section class="footer">
      牛前端作品
  </section>
</main>
