<main>
  <bw-menu [title]='模板'>
    <div class="column">
      <h4 class="ui header">Fabrics</h4>
      <div class="ui link list">
        <a class="item">Cashmere</a>
        <a class="item">Linen</a>
        <a class="item">Cotton</a>
        <a class="item">Viscose</a>
      </div>
    </div>
    <div class="column">
      <h4 class="ui header">Size</h4>
      <div class="ui link list">
        <a class="item">Small</a>
        <a class="item">Medium</a>
        <a class="item">Large</a>
        <a class="item">Plus Sizes</a>
      </div>
    </div>
    <div class="column">
      <h4 class="ui header">Colored</h4>
      <div class="ui link list">
        <a class="item">Neutrals</a>
        <a class="item">Brights</a>
        <a class="item">Pastels</a>
      </div>
    </div>
    <div class="column">
      <h4 class="ui header">Types</h4>
      <div class="ui link list">
        <a class="item">Knitwear</a>
        <a class="item">Outerwear</a>
        <a class="item">Pants</a>
        <a class="item">Shoes</a>
      </div>
    </div>
  </bw-menu>
  <section class="header">
    <toolbar (select)="showSelectTemplate()" (usePc)="showPcPreview()" (usePhone)="showPhonePreview()" (format)="formatCode()" (first)="selectFirst()"
      (previous)="selectPrevious()" (next)="selectNext()" (last)="selectLast()"></toolbar>
  </section>
  <section class="main">
    <section class="preview-container" [ngClass]="previewStyle">
      <div class="tpl-title">{{model.title}}</div>
      <preview class="preview-com" [template]="model.htmlContent"></preview>
    </section>
    <section class="code-container">
      <edit [editValue]="model.htmlContent" (valueChanged)="valueChanged($event)"></edit>
    </section>
    
  </section>
  <section class="select-template" [ngClass]="displaySelectPanel && 'show-template'">
      <select-template (select)="selectTemplate($event)"></select-template>
    </section>
  <section class="footer">
    牛前端作品
  </section>
</main>